/* bar */
* {
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

#waybar {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.8);
}

window#waybar.empty #window {
  background-color: transparent;
  border: none;
}

/* modules */
.modules-left,
.modules-center,
.modules-right {
  padding: 0.2rem 0.4rem;
}

/* workspaces */
#workspaces {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 0.8rem;
  padding: 0.2rem;
}

#workspaces button {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  padding: 0;
}

#workspaces button:hover {
  background-color: rgba(0, 0, 0, 0.26);
}

#workspaces button.active {
  background-color: rgb(198, 186, 117);
  border-radius: 0.6rem;
  color: rgb(0, 0, 0);
  opacity: 1;
  padding: 0 0.8rem;
}

/* groups */
#window,
#usage,
#battery,
#settings,
#menu {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 0.8rem;
  padding: 0 0.2rem;
}

/* widgets */
#window,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery,
#clock,
#notifications {
  padding: 0 0.4rem;
}
