/* bar */
* {
  all: unset;
  border: none;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 500;
}

#waybar {
  color: rgba(250, 250, 250, 0.8);
}

window#waybar.empty #window {
  background-color: transparent;
  border: none;
}

tooltip,
menu {
  background: rgb(10, 10, 10);
  border: 1px solid rgb(198, 186, 117);
  padding: 0.4rem;
}

/* modules */
.modules-left,
.modules-right {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-top: 0.6rem;
}

/* workspaces */
#workspaces {
  background-color: rgb(10, 10, 10);
  border: 1px solid rgb(198, 186, 117);
}

#workspaces button {
  color: rgba(255, 255, 255, 0.8);
  opacity: 0.8;
  padding: 0.2rem 0.6rem;
}

#workspaces button:hover {
  opacity: 1;
}

#workspaces button.focused {
  background-color: rgb(198, 186, 117);
  color: rgb(10, 10, 10);
  opacity: 1;
  padding: 0.2rem 1.2rem;
}

/* groups */
#tray,
#window,
#usage,
#battery,
#settings,
#menu {
  background-color: rgb(10, 10, 10);
  border: 1px solid rgb(198, 186, 117);
  padding: 0 0.2rem;
}

/* widgets */
#tray,
#window,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery,
#clock,
#language {
  padding: 0 0.4rem;
}

#custom-notifications {
  padding-left: 0.4rem;
}
