// autostart
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets,pkcs11,ssh"
spawn-at-startup "qs" "-c" "noctalia-shell"

// environment
environment {
  QT_QPA_PLATFORMTHEME "qt6ct"
}

// general
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/%Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
  skip-at-startup
}

clipboard {
  disable-primary
}

// monitors


// input
input {
  touchpad {
    tap
    accel-profile "flat"
  }

  mouse {
    accel-profile "flat"
  }
}

// layout
layout {
  gaps 4

  always-center-single-column
  center-focused-column "never"

  preset-column-widths {
    proportion 0.4
    proportion 0.8
    proportion 1.0
  }

  preset-window-heights {
    proportion 0.4
    proportion 0.8
    proportion 1.0
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    off
  }

  border {
    on
    width 1
  }

  shadow {
    on
  }
}

// blur
blur {
  passes 4
  offset 4
  noise 0.1
  saturation 1
}

// window rules
window-rule {
  background-effect {
    blur true
  }
}

window-rule {
  geometry-corner-radius 12
  clip-to-geometry true
}

window-rule {
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"

  open-floating true
  open-focused false

  default-column-width { fixed 480; }
  default-window-height { fixed 270; }

  default-floating-position x=24 y=24 relative-to="bottom-right"
}

// layer rules
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}

// binds
binds {
  // apps
  Mod+B        { spawn-sh "firefox"; }
  Mod+Shift+B  { spawn-sh "firefox -private-window"; }
  Mod+Return   { spawn "ghostty"; }
  Mod+E        { spawn "thunar"; }

  // noctalia
  Mod+D        { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
  Mod+V        { spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"; }
  Mod+Period   { spawn-sh "qs -c noctalia-shell ipc call launcher emoji"; }

  // screenshots
  Print         { screenshot; }
  Ctrl+Print    { screenshot-screen; }
  Alt+Print     { screenshot-window; }
  Mod+Shift+O   { spawn-sh "grim -g \"$(slurp)\" - | tesseract stdin stdout -l por+eng+jpn | wl-copy && notify-send OCR 'Text copied!'"; }

  // audio
  XF86AudioRaiseVolume   allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
  XF86AudioLowerVolume   allow-when-locked=true  { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
  XF86AudioMute          allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute       allow-when-locked=true  { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

  // media
  XF86AudioPlay          allow-when-locked=true  { spawn-sh "playerctl play-pause"; }
  XF86AudioStop          allow-when-locked=true  { spawn-sh "playerctl stop"; }
  XF86AudioPrev          allow-when-locked=true  { spawn-sh "playerctl previous"; }
  XF86AudioNext          allow-when-locked=true  { spawn-sh "playerctl next"; }

  // brightness
  XF86MonBrightnessUp    allow-when-locked=true  { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown  allow-when-locked=true  { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

  // window
  Mod+Tab repeat=false  { toggle-overview; }
  Mod+Q repeat=false    { close-window; }

  // focus
  Mod+Left   { focus-column-left; }
  Mod+Right  { focus-column-right; }
  Mod+Up     { focus-window-up; }
  Mod+Down   { focus-window-down; }

  // move
  Mod+Shift+Left   { move-column-left; }
  Mod+Shift+Right  { move-column-right; }
  Mod+Shift+Up     { move-window-up; }
  Mod+Shift+Down   { move-window-down; }

  // workspaces
  Mod+Ctrl+Up     { focus-workspace-up; }
  Mod+Ctrl+Down   { focus-workspace-down; }
  Mod+Ctrl+Left   { focus-monitor-left; }
  Mod+Ctrl+Right  { focus-monitor-right; }

  Mod+Alt+Up     { move-workspace-up; }
  Mod+Alt+Down   { move-workspace-down; }
  Mod+Alt+Left   { move-column-to-monitor-left; }
  Mod+Alt+Right  { move-column-to-monitor-right; }

  Mod+1  { focus-workspace 1; }
  Mod+2  { focus-workspace 2; }
  Mod+3  { focus-workspace 3; }
  Mod+4  { focus-workspace 4; }
  Mod+5  { focus-workspace 5; }
  Mod+6  { focus-workspace 6; }
  Mod+7  { focus-workspace 7; }
  Mod+8  { focus-workspace 8; }
  Mod+9  { focus-workspace 9; }

  Mod+Shift+1  { move-column-to-workspace 1; }
  Mod+Shift+2  { move-column-to-workspace 2; }
  Mod+Shift+3  { move-column-to-workspace 3; }
  Mod+Shift+4  { move-column-to-workspace 4; }
  Mod+Shift+5  { move-column-to-workspace 5; }
  Mod+Shift+6  { move-column-to-workspace 6; }
  Mod+Shift+7  { move-column-to-workspace 7; }
  Mod+Shift+8  { move-column-to-workspace 8; }
  Mod+Shift+9  { move-column-to-workspace 9; }

  // scroll
  Mod+WheelScrollDown        cooldown-ms=150  { focus-workspace-down; }
  Mod+WheelScrollUp          cooldown-ms=150  { focus-workspace-up; }
  Mod+Shift+WheelScrollDown  cooldown-ms=150  { focus-column-right; }
  Mod+Shift+WheelScrollUp    cooldown-ms=150  { focus-column-left; }

  // columns
  Mod+BracketLeft   { consume-or-expel-window-left; }
  Mod+BracketRight  { consume-or-expel-window-right; }
  Mod+C             { center-column; }

  // size
  Mod+R        { switch-preset-column-width; }
  Mod+Shift+R  { switch-preset-window-height; }
  Mod+F        { maximize-column; }
  Mod+Shift+F  { fullscreen-window; }
  Mod+Ctrl+F   { expand-column-to-available-width; }

  Mod+Minus        { set-column-width "-5%"; }
  Mod+Equal        { set-column-width "+5%"; }
  Mod+Shift+Minus  { set-window-height "-10%"; }
  Mod+Shift+Equal  { set-window-height "+10%"; }

  // floating
  Mod+T        { toggle-window-floating; }
  Mod+Shift+T  { switch-focus-between-floating-and-tiling; }

  // session
  Mod+Shift+Delete  { spawn-sh "pkill -f noctalia-shell && sleep 1 && qs -c noctalia-shell"; }
  Mod+Shift+E       { quit; }
}

// debug
debug {
  honor-xdg-activation-with-invalid-serial
}
