:root {
  --border: 2px solid var(--color-accent);
  --border-radius: 0rem;
  --color-accent: rgb(198, 186, 117);
  --color-background: rgb(10, 10, 10);
  --color-foreground: rgb(250, 250, 250);
  --padding: 1rem;
}

* {
  all: unset;
}

body {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: 600;
}

.control-center-clear-all {
  padding: 0.2rem 0.4rem;
  background: var(--color-accent);
  color: var(--color-background);
}

.notification-content {
  background-color: var(--color-background);
  border: var(--border);
  padding: var(--padding);
}

.widgets {
  background-color: var(--color-background);
  border: var(--border);
}

.floating-notifications {
  margin: 0.6rem;
}

.widget-title {
  padding: var(--padding);
  border-bottom: var(--border);
}

.widget-notifications {
  padding: var(--padding);
}

.summary {
  padding: 0 0.4rem;
}

.notification-row {
  margin-bottom: 0.4rem;
}
