:root {
  --border-radius: 0rem;
  --color-accent: rgb(198, 186, 117);
  --color-background: rgb(10, 10, 10);
  --color-foreground: rgb(250, 250, 250);
}

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 16px;
}

.control-center {
  border: 1px solid var(--color-accent);
  background-color: var(--color-background);
  margin: 0.6rem;
}

.control-center-clear-all {
  color: var(--color-background);
  background-color: var(--color-accent);
}

.notification-group,
.notification-default-action {
  background-color: var(--color-background);
}

.notification-default-action {
  border: 1px solid var(--color-accent);
}

.notification-background {
  padding: 0.6rem;
}
